<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
        org.springframework.web.filter.CharacterEncodingFilter
	</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>HTMLReceiverController</display-name>
    <servlet-name>HTMLReceiverController</servlet-name>
    <servlet-class>kr.co.moa.controller.collector.HTMLReceiverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLReceiverController</servlet-name>
    <url-pattern>/send/HTML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test_module</display-name>
    <servlet-name>test_module</servlet-name>
    <servlet-class>kr.co.moa.controller.test_module</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test_module</servlet-name>
    <url-pattern>/test_module</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventReceiverController</display-name>
    <servlet-name>EventReceiverController</servlet-name>
    <servlet-class>kr.co.moa.controller.collector.EventReceiverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventReceiverController</servlet-name>
    <url-pattern>/send/Event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupSenderController</display-name>
    <servlet-name>PopupSenderController</servlet-name>
    <servlet-class>kr.co.moa.controller.analyzer.PopupSenderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupSenderController</servlet-name>
    <url-pattern>/receive/popup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KeywordsSenderController</display-name>
    <servlet-name>KeywordsSenderController</servlet-name>
    <servlet-class>kr.co.moa.controller.analyzer.KeywordsSenderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeywordsSenderController</servlet-name>
    <url-pattern>/receive/keyword</url-pattern>
  </servlet-mapping>
</web-app>